@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

/*--- MAIN CONTACT PRIMER BOX ---*/

.main-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 50px;
	width:100%;
	background-color: aliceblue;

}

/*---- TITULOS---*/
.titulos{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	width: 100%;
	height: 300px;
}

.titulos h1{
	color: #151515;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	text-align: center;
	
}

.titulos p{
	width: 60%;
	font-family: 'Open Sans', sans-serif;
	color: #151515;
	font-weight: lighter;
	text-align: center;
}

/* ----*/

.duo{
	width: 70%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
}


/*--- INFORMACION, LOGO, MAPA ---*/

.horario-box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	background-color: #e0c45c;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
	padding: 30px;
	opacity: 0.9;
	height: 500px;

}

.horario-box-inner{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;

}

.box-1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 350px;
}

.highlight{
	font-weight: bold;
	color: #16a085;
}

.logo-canal{
	width: 100%;
	height: 85%;
}
.google{
	margin-top: 20px;
	width: 350px;
	height: 120px;
}

/*--- CAJA DEL FORMULARIO ---*/

.contact-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	height: 500px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
	padding: 30px;
	opacity: 0.9;
	background-color: #fff;
}

.inner-box-form{
	padding: 15px;
    border-radius: 10px;
    background-color: #fff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
}


.titulo-formulario h3{
	padding: 10px;
	border-radius: 10px;
    background-color: #213140;
	color: #fff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
	font-size: 1rem;
	text-align: center;
	
}

.form-box {
    display: grid;
	margin-top: 50px;
    grid-template-columns: repeat(2, 230px);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
	align-content: center;
    justify-content: center;

}


.form-box .in-box{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
	width: 230px;
	
}

.form-box .in-box span{
    height: 30px;
   
}

.form-box .in-box input{
    height: 50px;
    border: none;
    background: transparent;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    
}

.form-box .message-box{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 3;
    grid-row-end: 4;

}

.form-box .message-box span{
    height: 30px;
}

.form-box .message-box textarea{
    height: 50px;
    background: transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border: none;

}

/*button to send */

.form-box .box-button{
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 4;
    grid-row-end: 5;

}


.box-button{
    width: 100%;

}

.box-button .cerrar{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    background: #141414;
    color: #fff;
    font-size: 15px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;

}

.box-button .cerrar:hover{
    background: #16a085;
}

/*---scroll down ---*/
.hidden {
    opacity: 0;
    transform: translateY(50px); /* Baja el elemento al inicio */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}


/*---- para tblet----*/

@media screen and (max-width: 768px){	

	/*-- container --*/

	.duo{
		grid-template-columns: 1fr;
	}

}



/*----  para movil----*/

@media screen and (max-width: 425px){

	/*--- MAIN CONTAINER---*/

	.titulos{
		text-align: center;
	}

	.titulos p{
		width: 80%;
	}

	.duo{
		grid-template-columns: 300px;
		grid-gap: 50px;
	}

	.horario-box-inner{
		grid-template-columns: 1fr;
	}

	.contact-container{
		height: auto;
		padding: 10px;
	}

	.box-1{
		width: 256px;
	}

	.google{
		width: 200px;
	}
	
	.form-box .in-box{
		width: 256px;
	}

	.form-box{
		display: flex;
		flex-direction: column;
		
	}



	

}