/*--- formacion ----*/

.main-container{
	width: 70%;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}

/*---- TITULO PRINCIPAL SERVICIOS ---*/

.effect-box{
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 10px;
    background-color: #213140;
	color: #fff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
	text-transform: uppercase;
	
}

.effect-box p{
	font-size: 100px;
}

/*--- jquery ---*/


#target1, #target2, #target3, #target4, #target5, #target6, #target7, #target8, #target9, #target10, #target11, #target12, #target13{
	display: none;
}


/*---- para tblet----*/

@media screen and (max-width: 770px){	

	/*---- CONTAINER ---*/

	.under-construction{
		border-radius: 30px;		
		max-width: 500px;
		max-height: 300px;
	
	}

	

}

/*----  para movil----*/

@media screen and (max-width: 425px){

	/*--- container ---*/

	.effect-box p{
		font-size: 28px;
	}


	

}