@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Open+Sans:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
	background: url(background.jpg) no-repeat center center fixed;
	color: #f6f6f2;
    font-family: 'Open Sans', sans-serif;
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ajusta la altura mínima al 100% del viewport */
    margin: 0;
}

/*header --------*/

header{
	position: fixed; /* Mantén el header fijo al desplazarte */
	top: 30px;
	width: 70%; /* Asegura que cubra todo el ancho */
	display: flex;
	justify-content: space-between;  
	align-items: center; 
	background: linear-gradient(to right, #3A4B59, #607D8B, #A3BCCB);
	padding: 20px 30px;   
	opacity: 0.9; 
	z-index: 10;
	font-family: 'Roboto Slab', serif;
	border-radius: 50px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para separación */
	

}

.logo{
	width: 60px;  
    height: auto;  
    max-height: 50px;  
    object-fit: contain; 
}


.highlight {
    color: #16a085;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;  
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #212121;
    text-decoration: none;
    transition: color 0.3s ease;  
}

header nav ul li a:hover {
    color: #F4A261;
}

/* Responsive */
.burger{
    width: 30px;
    height: auto;
    max-height: 30px;
}

.checkbtn{
    float: right;
    cursor: pointer;
    display: none;

}

#check{
    display: none;
}

/*--- MAIN CONTAINER ---*/

.main-container{
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.main-container h1{
	font-size: 2.5rem;
	font-weight: 400;
	transform: scale(1, 2); 
    text-transform: uppercase; 
}

.main-container h2{
	font-size: 2rem;
	font-weight: 400;
	transform: scale(1,2);
	text-transform: uppercase;
}

.main-container h3{
	font-size: 1.75rem;
	font-weight: 400;
	transform: scale(1,2);
	text-transform: uppercase;
}

.main-container p{
	font-size: 1rem;
	font-weight: 400;
	transform: scale(1, 1.20);
}

/*--- formacion ----*/

.under-construction{
    border-radius: 30px;
	min-width: 300px;
	max-width: 1000px;
	min-height: 250px;
	max-height: 650px;

}