@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

/* MAIN CONTAINER*/

.main-container{
	display: flex;
	flex-direction: column;
	width: 100%;

}

.main-introduction{
	position: relative;
	width: 100%;
	height: auto;

}

.slider-frame{
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	
}

.introduce{
	position: absolute;
  	top: 30%;
  	left: 50%;
  	transform: translate(-50%, -50%); /* Centra respecto al div padre */
  	width: 90%;
  	height: 50px;
	z-index: 1;

}

.caja h1{
	color: #fff;
	font-size: 5rem;
	font-family: 'Oswald', sans-serif;
	-webkit-text-stroke: 0.5px black;
	text-align: center;
}

.boton {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 50px 0;
	width: 200px;
	height: 50px;
	color: #213140;
	background-color: #e0c45c;
	cursor: pointer;
	border: none;
    text-transform: uppercase;
    transition: 0.3s;
}

.boton a{
	text-decoration: none;
	color: inherit;
	display: block;
    width: 100%;
    text-align: center;
}

.boton:hover{
	background-color: #213140;
	color: #fff;
}


/*---jquery ---*/
#target0, #target1, #target2, #target3{
	display: none;

}

/* slider photo -- */


.slider-frame ul{
	display: flex;
	padding: 0;
	width: 400%;
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
	
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}


.photo-presentation{
	width: 100%;
	height: 800px;
	opacity: 0.6;
	object-fit: cover;
}



@media screen and (max-width: 770px){
	
	.caja h1 {
        font-size: 3rem;
    }
    
    .introduce {
        width: 90%;
    }
    
    .photo-presentation {
        height: 600px;
    }
	
}


@media screen and (max-width: 425px){

	.caja h1 {
        font-size: 2rem;
    }
    
    .introduce {
        top: 35%;
        width: 100%;
		margin-left: 10px;
    }
    
    .photo-presentation {
        height: 600px;
    }
    
    .boton {
        width: 160px;
        font-size: 10px;
    }

	
}






