@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

/* MAIN CONTAINER ---*/

.main-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 50px;
	width: 100%;
	background-color: #213140;
}

/*---- TITULOS---*/

.titulos{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	width: 100%;
	background-color: aliceblue;; 
	height: 400px;
	text-align: center;
}

.titulos h1{
	color: #151515;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	
}

.titulos p{
	width: 40%;
	font-family: 'Open Sans', sans-serif;
	color: #151515;
	font-weight: lighter;
	text-align: center;
}


/*--GALERIA, PRIMERA CASA--*/

.slider-container{
	width: 70%;
	
}

.slider {
    display: flex;
	align-items: center;
    gap: 10px; /* Espacio entre elementos */
    overflow: hidden; /* Oculta el desplazamiento en pantallas grandes */
	height: auto; 

}

.slide {
    flex: 0 0 calc(100% / 4); /* Divide el espacio en 4 columnas */
}

.Ventana {
    display: flex;
    flex-direction: column;
    align-items: center;
	max-width: 300px;
    padding: 10px;
    border-radius: 10px;
    background-color: #607D8B;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.picture {
    width: 256px; 
    height: 256px; 
    border-radius: 10px;
    object-fit: cover;
	box-shadow: 2px 2px 10px rgba(238, 237, 237, 0.35)
}

.titulo {
	width: 256px;
	text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 15px 0;
	color: #fff;
}

.parrafo {
    width: 100%;
	max-width: 256px;
	height: 350px; 
    padding: 15px;
    border-radius: 10px;
    background-color: #A3BCCB;
	box-shadow: 2px 2px 10px rgba(238, 237, 237, 0.35); 
    text-align: justify; 
}

/* SEGUNDA CAJA, SOSTENIBILIDAD, SERVICIOS ----*/

.main-service{
	width: 70%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: auto;
}

.box{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 20px;
}

.box h3{
	color: #fff;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
}

.box p{
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-weight: lighter;

}

#box-color1{
    background-color: #607D8B;
	
}

#box-color2{
    background-color: #A3BCCB;
	
}

.Tlf-color{
	color: #16a085;
}

/*--- caja final y boton ---*/

.final{
	background-color: #151515;
	width: 100%;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
	gap: 50px;	
}

.final h2{
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	color: #fff;
	text-align: center;
}

.boton{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 50px;
	color: #213140;
	background-color: #e0c45c;
	cursor: pointer;
	border: none;
    text-transform: uppercase;
    transition: 0.3s;
}

.boton a{
	text-decoration: none;
	color: inherit;
	display: block;
    width: 100%;
    text-align: center;
}

.boton:hover{
	background-color: #213140;
	color: #fff;
}

.networks a{
	display: inline-block;
	font-size: 18px;
	color: #e0c45c;
	transition: transform 0.3s ease;
	margin-left: 10px;
	
}

.networks a:hover{
	color: #213140;
	transform: scale(1.2);
}

/*---scroll down ---*/
.hidden {
    opacity: 0;
    transform: translateY(50px); /* Baja el elemento al inicio */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}



/*---- para laptop----*/

@media screen and (max-width: 770px){	

	/* MAIN CONTAINER, PHOTO AND MORE THINGS */

	.main-service{
		grid-template-columns: 1fr;
		
		
	}

	.slider{
		grid-template-columns: 1fr;

	}


}

/*----  para movil----*/

@media screen and (max-width: 425px){

	.titulos p{
		width: 80%;
	}
	/*--- CONTAINER ---*/

	.parrafo{
		width: 250px;
		height: 300px;
	}

	/*--- slider ---*/

	.slider-container {
		position: relative;
		overflow: hidden;
		width: 100%;
		max-width: 400px;
	}
	
	.slider {
        overflow-x: auto; /* Permite el scroll horizontal en móviles */
        scroll-snap-type: x mandatory; /* Hace que los elementos se alineen al deslizar */
        scroll-behavior: smooth; /* Deslizamiento suave */
    }

    .slide {
        flex: 0 0 100%; /* Cada slide ocupa toda la pantalla */
        scroll-snap-align: center; /* Centra el slide en la vista */
    }

	/*--- Second part */

	.main-service{
		grid-template-columns: 300px;
		
		justify-content: center;

	}

	#box-color{
		height: 300px;
	}



}